* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****************************************************
*
*       Variables
*
****************************************************/

:root {
    --primary-color: #AADDFF;
    --secondary-color: #000000;
    --accent-color: #C6878F;
}

/****************************************************
*
*       Default HTML TAG Settings
*
****************************************************/

h1,
h2
{
    font-family: "Oswald", sans-serif;
}

/**************************************************** 
*
*           Content Defaults
*
****************************************************/

body {
    font-family: "Inter", sans-serif;
}

/**************************************************** 
*
*           Header Area
*
****************************************************/



/**************************************************** 
*
*           Footer Area
*
****************************************************/



/**************************************************** 
*
*           Rules for classes used on multiple pages
*
****************************************************/



/****************************************************
*
*           Rules for Home page only
*
****************************************************/



/****************************************************
*
*           Rules for Discover page only
*
****************************************************/



/****************************************************
*
*           Rules for Directory page only
*
****************************************************/



/****************************************************
*
*           Rules for Join page only
*
****************************************************/