/* CSS styles for larger screens */
@media (min-width: 960px) {
    /* Header */
    #menu {
        display: none;
    }

    nav {
        grid-template-rows: 1fr;
    }

    .menu-links {
        display: flex;
    }

    .menu-links li {
        flex: 1 1 100%;
        text-align: center;
    }

    /* Footer */
    footer {
        display: flex;   
        justify-content: space-evenly;
    }

    footer div {
        margin: auto 0;
    }

    .socials {
        width: 300px;
    }

    /* Rules for Home Page only */
    .home-cards {
        display: grid;
        grid-template-columns: 2fr 1.5fr 1fr;
    }

    /* Rules for Directory Page only */
    .companies-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Rules for Join Page only */
    .membership-card {
        min-width: 700px;
    }
}