/* CSS styles for larger screens */
@media (min-width: 38rem) {
    /* Header */
    #menu {
        display: none;
    }

    nav {
        grid-template-rows: 1fr;
    }

    .menu-links {
        display: flex;
    }

    .menu-links li {
        flex: 1 1 100%;
        text-align: center;
    }

    /* Footer */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2rem;
    }

    footer div {
        margin: auto 0;
    }
}